<section id="features" class="config-section">
    <h2><i class="fas fa-cog"></i> Features</h2>
    <div class="form-grid">
        <div class="form-group checkbox-group">
            <label>
                <input type="checkbox" name="features.followerAlert" id="followerAlert">
                <span>Follower Alert</span>
            </label>
        </div>
        <div class="form-group checkbox-group">
            <label>
                <input type="checkbox" name="features.giftAlert" id="giftAlert">
                <span>Gift Alert</span>
            </label>
        </div>
        <div class="form-group checkbox-group">
            <label>
                <input type="checkbox" name="features.chatOverlay" id="chatOverlay">
                <span>Chat Overlay</span>
            </label>
        </div>
        <div class="form-group checkbox-group">
            <label>
                <input type="checkbox" name="features.streamTimer" id="streamTimer">
                <span>Stream Timer</span>
            </label>
        </div>
        <div class="form-group checkbox-group">
            <label>
                <input type="checkbox" name="features.viewerCount" id="viewerCount">
                <span>Viewer Count</span>
            </label>
        </div>
        <div class="form-group checkbox-group">
            <label>
                <input type="checkbox" name="features.customBanner" id="customBanner">
                <span>Custom Banner</span>
            </label>
        </div>
        <div class="form-group checkbox-group">
            <label>
                <input type="checkbox" name="features.floatingPhotos" id="floatingPhotos">
                <span>Floating Photos</span>
            </label>
        </div>
        <div class="form-group checkbox-group">
            <label>
                <input type="checkbox" name="features.animations" id="animations">
                <span>Animations</span>
            </label>
        </div>
        <div class="form-group checkbox-group">
            <label>
                <input type="checkbox" name="features.tiktokConnector" id="tiktokConnector">
                <span>TikTok Connector</span>
            </label>
        </div>
        <div class="form-group checkbox-group">
            <label>
                <input type="checkbox" name="features.webhookConnection" id="webhookConnection">
                <span>Webhook Connection</span>
            </label>
        </div>
    </div>
</section>

