<div id="gift-alert" class="alert-container">
    <div class="alert-box gift-box">
        <img class="alert-icon alert-icon-gift" src="" alt="Gift" style="display: none;">
        <div class="alert-icon alert-icon-fallback">🎁</div>
        <div class="alert-content">
            <div class="alert-title">Terima Kasih!</div>
            <div class="alert-name"></div>
            <div class="alert-gift-wrapper">
                <div class="alert-gift"></div>
            </div>
        </div>
    </div>
</div>

