name: Deploy to VPS

on:
  push:
    branches:
      - main   # ubah kalau pakai branch lain

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Deploy to VPS via SSH
      uses: appleboy/ssh-action@v1.1.0
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USER }}
        key: ${{ secrets.SSH_KEY }}
        script: |
          cd /root/tiktok-live-game   # ubah sesuai directory project
          git pull origin main
          npm install
          pm2 restart all
